@charset "UTF-8";

/* --- General ---*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select {
    line-height: inherit;
}


/* --- Fonts --- */

/* Icons*/
@import url(../fonts/icon-font.min.css);

.wpml-ls-item a::before {
    content: '';
    width: 18px;
    height: 12px;
    display: inline-block;
    margin-right: 2px;
}

.icl-de a::before,
a.js-wpml-ls-item-toggle.icl-de::before {
    background: url('../images/main-sprite.png') -10px -109px;
}

.icl-at a::before,
a.js-wpml-ls-item-toggle.icl-at::before {
    background: url('../images/main-sprite.png') -48px -109px;
}

.icl-pl a::before,
a.js-wpml-ls-item-toggle.icl-pl::before {
    background: url('../images/main-sprite.png') -86px -109px;
}

.icl-en_GB a::before,
a.js-wpml-ls-item-toggle.icl-en_GB::before {
    background: url('../images/main-sprite.png') -153px -10px;
}

.icl-tr a::before,
a.js-wpml-ls-item-toggle.icl-tr::before {
    background: url('../images/main-sprite.png') -153px -42px;
}

.icl-es a::before,
a.js-wpml-ls-item-toggle.icl-es::before {
    background: url('../images/main-sprite.png') -153px -74px;
}

.icl-it a::before,
a.js-wpml-ls-item-toggle.icl-it::before {
    background: url('../images/main-sprite.png') -153px -106px;
}

.icl-fr a::before,
a.js-wpml-ls-item-toggle.icl-fr::before {
    background: url('../images/main-sprite.png') -10px -141px;
}

.icl-en_EU a::before,
a.js-wpml-ls-item-toggle.icl-en_EU::before {
    background: url('../images/main-sprite.png') -48px -141px;
}

.bg-lieferung {
    width: 123px; height: 79px;
    background: url('../images/main-sprite.png') -10px -10px;
}

.icl-nl a::before,
a.js-wpml-ls-item-toggle.icl-nl::before {
    background: url('../images/main-sprite.png') -86px -141px;
}

.bg-usa a::before,
a.js-wpml-ls-item-toggle.bg-usa::before {
    background: url('../images/main-sprite.png') -124px -141px;
}

.icl-ch a::before,
a.js-wpml-ls-item-toggle.icl-ch::before {
    background: url('../images/main-sprite.png') -191px -10px;
}

.icl-en a::before,
a.js-wpml-ls-item-toggle.icl-en::before {
    width: 18px; height: 12px;
    background: url('../images/main-sprite.png') -191px -42px;
}


/* --- Header WPML --- */
.aboveheader li.wpml-ls-item {
    display: none;
}

.aboveheader li.wpml-ls-item.icl-en_EU {
    display: block;
}

.aboveheader li.wpml-ls-current-language {
    background-color: #f9f9f9;
    display: block;
}

.aboveheader a.wpml-ls-link {
    margin: 5px;
}

/* --- Header Widgets ---*/
a.btn-sm.green.gtec-btn-header {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px 0;
    padding: 10px;
    background: #1d4595;
    color: #fff;
    border-radius: 3px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 1;
	letter-spacing: 1px;
}

a.btn-sm.green.gtec-btn-header:hover {
    opacity: 0.75;
    color: #fff !important;
}

/* --- Header Menu --- */


/* --- Start Table of Contents --- */
div#toc_container {
    border: 0 !important;
}

#toc_container p.toc_title {
    text-align: left;
    color: #114596;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 1.5px;
}

#content ul.toc_list {
    padding-left: 0;
}

#toc_container li {
    display: block;
    padding: 5px 10px;
}

div#toc_container.no_bullets li:nth-of-type(odd) {
    background: #fff;
}

@media (min-width: 768px){
    ul.toc_list {
        display: block !important;
    }

    .toc_toggle {
        display: none;
    }
}

/* --- End Table of Contents */




/* --- Start Typgraphy --- */

body,
body .site-content .content-area {
    font-weight: 400;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
    line-height: 1.4;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 10px;
}

.site-content h1,
.content-area h1 {
    color: #333;
    font-size: 30px;
}

.site-content .content-area h1 strong {
    color: #333;
    font-weight: bold;
    font-size: 30px;
}

.site-content h2,
.content-area h2 {
    font-size: 25px;
}

.site-content b,
.site-content strong,
.content-area b,
.content-area strong {
    font-weight: 500;
}

.site-content .content-area h1 a,
.site-content .content-area h2 a,
.site-content .content-area h3 a,
.site-content .content-area h4 a,
.site-content .content-area h5 a {
    color: #333;
}

.site-content a,
.content-area a {
    color: #114596;
}

.site-content h5 {
    font-size: 16px;
    font-weight: 700;
}

.fancy {
    line-height: 25px;
    text-align: center;
}

a.home-button {
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 2px;
    font-family: "Lato";
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

a.home-button:after {
    content: "\00BB \0020";
    margin-left: 25px;
}

.pull-left {
    float: left!important;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.blue,
.site-content a.blue {
    color: #fff;
    background: #114596;
}

/* --- End Typgraphy --- */

/* --- Start Page Content --- */

.page .vc_rows {
  width: 100vw;
  max-width: none;
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
  display: flex;
  padding: 10px;
}

section {
    position: relative;
    clear: both;
}


.alternate-row {
    background: #f1f1f1;
}


.last-row {
    padding-bottom: 60px;
}

.first-row {
    padding-top: 60px;
}

.grey-block {
    background: #ededed;
    padding: 10px;
}

#bp-configurator {
  width: 100vw;
  max-width: none;
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
  display: flex;
}

/*@media only screen and (max-width: 1199px) and (min-width: 960px){
    .container .column, .container .columns {
        float: left;
        display: inline;
        margin: 10px;
    }
}*/

/*.wprevpro_t1_DIV_1.w3_wprs-col.l4 {
    width: 100%;
}*/

/* Slider */

/*.wprs_unslider-wrap.wprs_unslider-carousel li {
    display: none;
}

.wprs_unslider-wrap.wprs_unslider-carousel li.wprs_unslider-active {
    display: block;
}

.wprs_unslider-carousel .w3_wprs-col.l4,
.wprs_unslider-carousel .w3_wprs-third {
    width: 100%;
    float: left;
}*/

/* --- End Page Content --- */

/* --- Start Post Content --- */
.single .content-area {
    padding-top: 20px;

}

.single .vc_column_container>.vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}

.single .vc_col-sm-8 {
    width: auto;
    margin-left: -15px;
}

.content-area .post-sidebar a {
    color: #333;
}

#content .post-sidebar_widget ul {
    padding-left: 0;
}

#content .post-sidebar_widget ul li {
    display: block;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: 11px;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px
}

#content .post-sidebar_widget li:before {
    content: "\00BB \0020";

}

.post-sidebar_widget .search_form::after {
    content: "\e86f";
    display: block;
    position: absolute;
    font-family: Linearicons-Free;
    right: 20px;
    margin-top: -30px;
}

/*.post-sidebar_widget {
    margin-bottom: 20px;
}*/

.post-sidebar h6 {
    text-align: left;
    padding-bottom: 5px;
    padding-top: 30px;
    color: #114596;
    text-transform: none;
}

@media (min-width: 992px){
    .post-sidebar,
    .blogdetailcontent {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .post-sidebar {
        width: 25%;
    }

    .blogdetailcontent {
        width: 75%;
    }
}

/* --- End Post Content ---*/

/* --- Start Above Footer --- */
.site-content .above-footer {
/*    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d7d7d7;*/
    height: auto;
    font-size: 10px;
    color: #414141;
    width: 100vw;
    max-width: none;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 0;
}

.site-content .above-footer .textwidget {
    position: relative;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.site-content .above-footer .textwidget.custom-html-widget:last-of-type {
    /*margin-top: 20px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d7d7d7;
    width: 100vw;
    max-width: none;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.site-content .above-footer .textwidget.custom-html-widget .frame {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}

@media (min-width: 768px){
    .site-content .above-footer .textwidget {
        display: flex;
        text-align: left;
    }

    .col-md-3,
    .lnr {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        float: left;
        display: flex;
        padding-left: 0;
    }

    .above-footer .col-md-3 {
        padding-left: 0;
    }
}

.feature-description h5 {
    font-size: 11px;
    color: #414141;
    letter-spacing: 2px;
}

.feature-description p {
    font-size: 12px;
    line-height: 18px;
}

.above-footer .lnr {
    color: #114596;
    font-size: 50px;
}

.ausgezeichnet {
    display: block;
    background-image: url(https://siegel.ausgezeichnet.org/asset/images/widgets/bg-borderrlng-m.png);
    background-repeat: no-repeat;
    background-size: 180px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.above-footer .col-md-3:last-of-type:after {
    content: '';
    float: none;
    clear: both;
}

/* --- End Above Footer --- */

/* --- Start Footer --- */
.footermenu {
    display: table;
    margin: 0 auto;
}

.footer-widgets ul li {
    margin-top: 10px;
    text-align: center;
}

.footer-widgets .menu li:nth-child(1) a {
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px;
}

@media (min-width: 768px){
    .footer-widgets ul li {
        text-align: left;
    }
}

/* Footer WPML */
@media (min-width: 768px){
    .footer-widget .wpml-ls-sidebars-primary {
        position: absolute;
        left: 50%;
        width: 110px;
        margin-left: -55px;
        margin-top: -30px;
    }

    .footer-widget ul.js-wpml-ls-sub-menu.wpml-ls-sub-menu {
        display: none;
    }

    .footer-widget .wpml-ls-current-language:hover > ul.js-wpml-ls-sub-menu.wpml-ls-sub-menu {
        display: block;
        position: absolute;
        bottom: 2em;
        left: -5px;
        width: 110px;
        background: #fff;
        padding-left: 10px !important;
        border: 1px solid grey;
    }

    .footer-widget .wpml-ls-current-language a.js-wpml-ls-item-toggle {
        font-weight: bolder;
        border: 1px solid #f2f2f2;
        padding: 5px 15px;
    }
}

@media (max-width: 767px){
    .footer-widget .wpml-ls-sub-menu li {
        float: left;
    }

    .footer-widget a.lang_sel_sel,
    .footer-widget .wpml-ls-sub-menu a.wpml-ls-link span {
        display: none;
    }

    .footer-widget .wpml-ls-sub-menu a.wpml-ls-link {
        margin: 5px 10px;
    }
}

/* Copyright */
.bp-footer-copyright {
    color: #4d4d4d;
    font-size: 12px;
    text-align: center;
}

/* --- End Footer --- */